/* .App a {
  color: #007BFF;
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.App .notes {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #007BFF;
}

 */
